.company-form__wrapper {
    display: flex;
    flex-direction: column;
}

.company-form__label {
    font-size: 10px;
    display: flex;
    align-items: center;
}

.company-form__name {
    margin: 10px 0;
}